/* Estilo geral da página */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Estilo do container */
.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

/* Estilo dos campos de entrada */
input[type="text"],
input[type="date"] {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo dos botões */
button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #5cb85c;
  color: white;
  cursor: pointer;
}

/* Estilo dos botões de edição e exclusão */
#editButton {
  background-color: #0275d8;
}

#deleteButton {
  background-color: #d9534f;
}

/* Hover dos botões */
button:hover {
  opacity: 0.8;
}

/* Estilo dos dados exibidos */
#userData {
  margin-top: 20px;
  text-align: left;
}